<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/dashboard"><b>Some-Heroes</b></a>
  <button class="navbar-toggler"
          (click)="toggleNavigationCollapse()"
          type="button"
          [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let route of routes">
        <a class="nav-link" routerLink="{{route.path}}" routerLinkActive="active" (click)="collapseNavigation()">
          {{route.menuName}}
        </a>
      </li>
    </ul>
  </div>
</nav>
